<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('/view/common/style.html') ?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include('/view/common/aside.html') ?>
    
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include('/view/common/header.html') ?>
            <!-- 讲师列表 -->
            <div class="body teacher-list">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li><a href="javascript:;">讲师管理</a></li>
                    <li class="active">讲师列表</li>
                </ol>
                <div class="page-title">
                    <a href="/teacher/add" class="btn btn-success btn-sm pull-right">添加讲师</a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm">搜索</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>昵称</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>手机号码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="teacherList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    <!-- 模态框 添加课程 -->
    <?php include('/view/common/script.html') ?>
    <script type="text/template" id="templateTpl">
        {{each list as item index}}
        <tr>
            <td>{{index + 1}}</td>
            <td>{{item.tc_name}}</td>
            <td>{{item.tc_roster}}</td>
            <td>{{item.tc_birthday}}</td>
            <td>
                {{if item.tc_gender == 1}}
                男
                {{else}}
                女
                {{/if}}
            </td>
            <td>{{item.tc_cellphone}}</td>
            <td class="teacherBtns" data-tcid = '{{item.tc_id}}' data-status='{{item.tc_status}}'>
                <a href="javascript:;"class="btn btn-info btn-xs preview">查 看</a>
                <a href="javascript:;" class="btn btn-info btn-xs">编 辑</a>
                <a href="javascript:;" class="btn btn-warning btn-xs">
                    {{if item.tc_status == 0}}
                    启 用
                    {{else}}
                    注 销
                    {{/if}}
                </a>
            </td>
        </tr>
        {{/each}}
        </tr>
    </script>
    <script type="text/javascript">
        require(['js/teacher_list']);
    </script>
</body>
</html>